body {
    background-color: #cbc4c0;
    color: #2b2420;
    font-family: "Yanone Kaffeesatz", sans-serif;
    margin: 0;
}

td {
    vertical-align: top;
    text-align: left;
}

div.fullsheet img {
    width: 90%;
}

div.notice {
    background-color: navajowhite;
    padding: 0.22em;
    margin-bottom: 0.44em;
}

div.panel {
    display: block;
}

div.panel div {
    display: block;
    background-color: red;
    background-repeat: no-repeat;
}

.col0 { background-color: darkorange; }
.col1 { background-color: chocolate; }
.col2 { background-color: darkseagreen; }
.col3 { background-color: deepskyblue; }
.col4 { background-color: lightblue; }
.col5 { background-color: lightgreen; }
.col6 { background-color: palevioletred; }
.col7 { background-color: gold; }

div.panelcfg {
    padding: 1em;
    background-color: #dbd4d0;
}

textarea.panelcfgtext {
    width: 99%;
}

input.panelcfgrect {
    width: 5em;
}
